@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

.card {
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card .image {
  height: 14.5rem;
  overflow: hidden;
}

img {
  width: 100%;
}

.card h2 {
  padding: 2rem 2rem 0;
  font-size: 1rem;
  color: hsl(217, 19%, 35%);
  line-height: 1.5;
}

.card p {
  padding: 1rem 2rem 1.5rem;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  line-height: 1.6;
}

.card .author {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 1.5rem;
}

.card .author .photo {
  margin-right: 1rem;
}

.card .author .photo img {
  width: 2.5rem;
  border-radius: 50%;
}

.card .author .info {
  margin-right: 3.2rem;
}

.card .author .name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.card .author .date {
  color: hsl(212, 23%, 69%);
}

.card .author .share-icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
}

.card .author .share-icon::before {
  content: '';
  mask: url('./images/icon-share.svg') no-repeat center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -1px;
  left: 1px;
  background-color: hsl(214, 17%, 51%);
}

.card .footer {
  position: relative;
}

.card .footer .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  color: hsl(212, 23%, 69%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
}

.card .footer .share .socials {
  display: flex;
  margin-right: 2rem;
}

.card .socials span {
  margin-right: 1rem;
}

.card .footer .share .share-icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: hsl(214, 17%, 51%);
  border-radius: 50%;
}

.card .footer .share .share-icon::before {
  content: '';
  mask: url('./images/icon-share.svg') no-repeat center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -1px;
  left: 1px;
  background-color: #fff;
}

.hidden {
  display: none !important;
}

footer {
  margin-top: 2rem;
}

@media (min-width: 1440px) {
  .card {
    display: flex;
    width: 750px;
    padding-right: 1rem;
    overflow: unset;
  }

  .card .image {
    height: 306px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card .image img {
    height: 100%;
    width: auto;
  }

  .card .content {
    padding-left: 0.5rem;
  }

  .card .footer .info {
    margin-right: 9rem;
  }

  .footer .share-icon:hover {
    cursor: pointer;
  }

  .card h2 {
    font-size: 1.3rem;
  }

  .card .footer .share {
    width: 16rem;
    height: 3.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 10px;
    right: -5rem;
    bottom: 5.5rem;
  }

  .card .footer .share::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    bottom: -0.5rem;
    transform: rotate(45deg);
  }

  .card .footer .share span {
    margin-right: 1rem;
  }

  .card .footer .share .socials {
    margin: 0;
  }

  .card .footer .share .socials .pinterest {
    margin: 0;
  }

  .card .footer .share .share-icon {
    position: absolute;
    bottom: -3.6rem;
  }
}
